.tw-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
}
.tw-followCard-header{
    display: flex;
    align-items: center;
    gap: 4px;
}
.tw-followCard-info{
    display: flex;
    flex-direction: column;
}

.tw-followCard-infoUsername{
    opacity: .6;
}
.tw-followCard-avatar{
    width: 48px;
    height: 48px;
    border-radius: 1000px;
}
.tw-followCard-btnFollow{
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold; 
    cursor: pointer; 
    border: 1px solid #000; 
    transition: .3s ease background-color;
}  
.tw-followCard-btnFollow .isfollowing{
    border: 1px solid red;

}
.tw-followCard-btnFollow:hover{
    background: #09f;
    transition: .3s ease background-color;
}
.tw-followCard-btnFollow .isfollowing:hover{
    background: red;

}